<html>

<% include ./navbar.ejs %>

<head>
	 <!-- <script type="text/javascript" src= "/js/spotify.js"></script> -->
</head>

<script> 
$(function() {

	var vsHeight = 150 - $('.vs-container').height()/2;
	vsHeight = (vsHeight < 10) ? 10: vsHeight;
	$('.vs-container').css('margin-top', vsHeight+"px");

});
</script>


<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 50px;
	}

	h3 { 
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	} 

	.profile-container { 
		text-align: center;
		margin-top: 25px;
	}

	.vs-container {
		text-align: center;
		font-size: 14px;
		margin-bottom: 25px;
	}

	.profile-pic {
		width: 200px; 
		height: 200px;
	}

	.playlist-container {
		margin-top: 20px; 
		margin-bottom: 20px;
	}

	.random{
		text-align: center;
	}

	.btn-success { 
		background-color: #19b350;
		border-color: #19b350;
		color: white !important;
	}
	.btn-success:hover{
		background-color: #169d46;
		border-color: #107032;
	}
	.discover-text{
		text-align: center;
	}

</style>

<body>
	<h2> 
		Discover Weekly Matcher
	</h2> 

	<div class='random'>
		<a href='/random' class="btn btn-md btn-success" role="button"> Random </a>
	</div>

	<div class = "col-md-4 profile-container">
		<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- currentFacebookId %>/picture?type=large)'>

		<h3 class="user-name">
			<%- currentDisplayName %>
		</h3>
		<a class="discover-text" target="_blank" href="http://open.spotify.com/user/spotifydiscover/playlist/<%-currentDwId %>"> Discover Weekly Playlist </a>
		
		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- currentDwId %>&theme=white" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>

	<div class = "col-md-4 vs-container">
		
		<b style="font-size: 20px;"> Match: <%= percent %>%  </b> 
		<br> <br>   
		<b> Artists in Common: </b> 
		<br> 
		<span id='common-artists'>
			<% var keys = Object.keys(artists); 
			if (keys.length < 1) { %> 
				None
			<% } else {
			for (var i = 0; i<keys.length; i++) { %> 
				<a target="_blank" href="https://open.spotify.com/artist/<%-keys[i]%>"><%- artists[keys[i]];%></a><% if (i < keys.length-1) {%>, <% }%> 
			<% } } %>
		</span>
		<br> <br>
		<b> Tracks in Common: </b> 
		<br>
		<span id='common-tracks'>
			<% var keys = Object.keys(tracks); 
			if (keys.length < 1) { %> 
				None
			<% } else {
				for (var i = 0; i<keys.length; i++) { %> 
			<a target="_blank" href="https://open.spotify.com/track/<%-keys[i]%>"><%- tracks[keys[i]].name;%></a><% if (i < keys.length-1) {%>, <% }%> 
			<% } } %>
		</span>

	</div>

	<div class = "col-md-4 profile-container">
	<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- otherFacebookId %>/picture?type=large)'>
		<h3 class="user-name">
			<%-  otherDisplayName %>
		</h3>
		<a class="discover-text" target="_blank" href="http://open.spotify.com/user/spotifydiscover/playlist/<%- otherDwId %>"> Discover Weekly Playlist </a>

		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- otherDwId %>&theme=white" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>

</body>

</html>


