<html>
<title> Compare </title>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:title" content="Discover Weekly" />
	<meta property="og:url" content="https://www.discover-weekly.com/compare/10206038141452791/10153334101987686" />
	<meta property="og:description" content="Check out the similarities between these 2 playlists" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 <!-- Twitter web intent -->
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("65e3524107236f7d0456fcd80cb69f5c");</script><!-- end Mixpanel -->


	<script type="text/javascript">
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1504441939859902',
				// appId      : '1505548576415905',
				cookie: true,
				version    : 'v2.5'
			});
			if (window.location.pathname != '/login'){
				FB.getLoginStatus(function(response) {
				  if (!(response.status === 'connected')) {
				  	window.location.replace("/logout");
				  }
				});				
			}

		};
	  // Load the SDK asynchronously
	  (function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));


	</script>
</head>

<script> 
$(function() {

	var vsHeight = 150 - $('.vs-container').height()/2;
	vsHeight = (vsHeight < 10) ? 10: vsHeight;
	$('.vs-container').css('margin-top', vsHeight+"px");

	$('.facebook-compare-share').click(function (){
		FB.ui({
		  method: 'share',
		  href: window.location.href,
		}, function(response){});
	});

	$('.facebook-compare-message').click(function(){
    	FB.ui({
		  method: 'send',
		  link: window.location.href
		});
    });

	 var text = 'Checkout this Discover-Weekly Match: ' + window.location.href;
     var tweet = 'https://twitter.com/intent/tweet?text=' + text;
     $("a[href^='https://twitter.com/intent/tweet']").attr("href", tweet);

});
</script>

<% include ./navbar.ejs %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		/*margin-top: 20px;*/
	}

	h3 { 
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	} 

	.profile-container { 
		text-align: center;
		margin-top: 25px;
	}

	.vs-container {
		text-align: center;
		font-size: 14px;
		margin-bottom: 30px;
	}

	.profile-pic {
		width: 200px; 
		height: 200px;
	}

	.playlist-container {
		margin-top: 20px; 
		margin-bottom: 20px;
	}

	.random{
		text-align: center;
		margin-top: 10px;
	}

	.btn-success { 
		background-color: #19b350;
		border-color: #19b350;
		color: white !important;
	}
	.btn-success:hover{
		background-color: #169d46;
		border-color: #107032;
	}
	.discover-text{
		text-align: center;
	}
	

</style>

<body>
	<h2> 
		Discover Weekly Matcher
	</h2> 


	<div class='random'>
		<h4> Share this matchup </h4>
		<a class='action' href='https://twitter.com/intent/tweet?text='>Tweet</a> 
		| 
		<a class='action facebook-compare-share'>Share</a> 
		| 
		<a class='action facebook-compare-message'>Message</a>
	</div>

	


	<div class = "col-md-4 profile-container">
		<a href='/user/<%- currentFacebookId %>'>
			<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- currentFacebookId %>/picture?type=large)'>
		</a>
		<h3 class="user-name">
			<%- currentDisplayName %>'s
			<br>
			Playlist
		</h3>
		
		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- currentDwId %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>

	<div class = "col-md-4 vs-container">
		
		<b style="font-size: 20px;"> Match: <%= percent %>%  </b> 
		
		<br> <br>
		<b> Tracks in Common: </b> 
		<br>
		<span id='common-tracks'>
			<% var keys = Object.keys(tracks); 
			var overlap = [];
			if (keys.length < 1) { %> 
				None
			<% } else {
				for (var i = 0; i<keys.length; i++) { 
					overlap.push(tracks[keys[i]].artist_id); 
					%> 
			<a target="_blank" href="https://open.spotify.com/track/<%-keys[i]%>"><%- tracks[keys[i]].name %> </a>  by <a target="_blank" href="https://open.spotify.com/artist/<%-tracks[keys[i]].artist_id%>"> <%- artists[tracks[keys[i]].artist_id]%></a> 
			<% if (i < keys.length-1) {%><br><% }%> 
			<% } } %>
		</span>

		<br> <br>   
		<b> Other Artists in Common: </b> 
		<br> 
		<span id='common-artists'>
			<% var keys = Object.keys(artists).filter(function(val) {
  				return overlap.indexOf(val) == -1;
			}); 
			if (keys.length < 1) { %> 
				None
			<% } else {
			for (var i = 0; i<keys.length; i++) { %> 
				<a target="_blank" href="https://open.spotify.com/artist/<%-keys[i]%>"><%- artists[keys[i]];%></a><% if (i < keys.length-1) {%>, <% }%> 
			<% } } %>
		</span>
	</div>

	<div class = "col-md-4 profile-container">

	<a href='/user/<%- otherFacebookId %>'>
		<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- otherFacebookId %>/picture?type=large)'>
	</a>
		<h3 class="user-name">
			<%-  otherDisplayName %>'s
			<br>
			Playlist
		</h3>

		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- otherDwId %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>

</body>

</html>


