<html>
<title> Compare </title>
<% include ./navbar.ejs %>

<head>
<meta property="og:title" content="Discover Weekly Comparison" />
<meta property="og:description" content="Check out the similarities between our playlists" />
</head>

<script> 
$(function() {

	var vsHeight = 150 - $('.vs-container').height()/2;
	vsHeight = (vsHeight < 10) ? 10: vsHeight;
	$('.vs-container').css('margin-top', vsHeight+"px");

	$('.facebook-compare-share').click(function (){
		FB.ui({
		  method: 'share',
		  href: window.location.href,
		}, function(response){});
	});

	$('.facebook-compare-message').click(function(){
    	FB.ui({
		  method: 'send',
		  link: window.location.href
		});
    });

	 var text = 'Checkout this Discoer-Weekly Match: ' + window.location.href;
     var tweet = 'https://twitter.com/intent/tweet?text=' + text;
     $("a[href^='https://twitter.com/intent/tweet']").attr("href", tweet);

});
</script>


<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		/*margin-top: 20px;*/
	}

	h3 { 
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	} 

	.profile-container { 
		text-align: center;
		margin-top: 25px;
	}

	.vs-container {
		text-align: center;
		font-size: 14px;
		margin-bottom: 30px;
	}

	.profile-pic {
		width: 200px; 
		height: 200px;
	}

	.playlist-container {
		margin-top: 20px; 
		margin-bottom: 20px;
	}

	.random{
		text-align: center;
		margin-top: 10px;
	}

	.btn-success { 
		background-color: #19b350;
		border-color: #19b350;
		color: white !important;
	}
	.btn-success:hover{
		background-color: #169d46;
		border-color: #107032;
	}
	.discover-text{
		text-align: center;
	}
	

</style>

<body>
	<h2> 
		Discover Weekly Matcher
	</h2> 


	<div class='random'>
		<a href='/random' class='action'> Random</a>
		|
		<a class='action' href='https://twitter.com/intent/tweet?text='>Tweet</a> 
		| 
		<a class='action facebook-compare-share'>Share</a> 
		| 
		<a class='action facebook-compare-message'>Message</a>
	</div>

	


	<div class = "col-md-4 profile-container">
		<a href='/user/<%- currentFacebookId %>'>
			<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- currentFacebookId %>/picture?type=large)'>
		</a>
		<h3 class="user-name">
			<%- currentDisplayName %>'s
			<br>
			Playlist
		</h3>
		
		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- currentDwId %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>

	<div class = "col-md-4 vs-container">
		
		<b style="font-size: 20px;"> Match: <%= percent %>%  </b> 
		
		<br> <br>
		<b> Tracks in Common: </b> 
		<br>
		<span id='common-tracks'>
			<% var keys = Object.keys(tracks); 
			var overlap = [];
			if (keys.length < 1) { %> 
				None
			<% } else {
				for (var i = 0; i<keys.length; i++) { 
					overlap.push(tracks[keys[i]].artist_id); 
					%> 
			<a target="_blank" href="https://open.spotify.com/track/<%-keys[i]%>"><%- tracks[keys[i]].name %> </a>  by <a target="_blank" href="https://open.spotify.com/artist/<%-tracks[keys[i]].artist_id%>"> <%- artists[tracks[keys[i]].artist_id]%></a> 
			<% if (i < keys.length-1) {%><br><% }%> 
			<% } } %>
		</span>

		<br> <br>   
		<b> Other Artists in Common: </b> 
		<br> 
		<span id='common-artists'>
			<% var keys = Object.keys(artists).filter(function(val) {
  				return overlap.indexOf(val) == -1;
			}); 
			if (keys.length < 1) { %> 
				None
			<% } else {
			for (var i = 0; i<keys.length; i++) { %> 
				<a target="_blank" href="https://open.spotify.com/artist/<%-keys[i]%>"><%- artists[keys[i]];%></a><% if (i < keys.length-1) {%>, <% }%> 
			<% } } %>
		</span>
	</div>

	<div class = "col-md-4 profile-container">

	<a href='/user/<%- otherFacebookId %>'>
		<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- otherFacebookId %>/picture?type=large)'>
	</a>
		<h3 class="user-name">
			<%-  otherDisplayName %>'s
			<br>
			Playlist
		</h3>

		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- otherDwId %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>

</body>

</html>


