<html>

<title> Home </title>

<% include ./headers.ejs %>
<% include ./navbar.ejs %>

<% if (!users) {
	users = [];
} else {
	users = users.sort(function(a, b) {
	    return b.total - a.total;
	}).slice(0,12);

} %>
<head>
	<script type="text/javascript" src= "/js/spotify.js"></script>
</head>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 75px;
	}

	.profile-pic {
		width: 200px; 
		height: 200px;
		background-position: center; 
		background-size:100% auto;
		background-repeat: no-repeat;
		background-color: black;
		margin-top: 20px;
	}

	.profile-container { 
		text-align: center;
	}
	.friend-profile {
		background-position: center; 
		background-size:100% auto;
		background-repeat: no-repeat;
		background-color: black;
	}
	.friend-user-name {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px; 
    	overflow: hidden;
	    text-overflow: ellipsis;
	}
	.percentage {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px; 
    	overflow: hidden;
	    text-overflow: ellipsis;
	    color: black;
	}
	.friends-container {
		margin-top: 50px;
	}
	.message { 
		text-align: center;
		margin-bottom: 25px;
	}
	.bottom {
		margin-bottom: 25px;
	}
</style>

<body>

	<div class='col-xs-12 profile-container'>

		<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(https://graph.facebook.com/<%- currentFacebookId %>/picture?type=large)'>

		<h3 class="current-user-name">
			<%- currentDisplayName %>
		</h3>

		<div class="action-btns">
			<a href='/last-week' class='action' role="button"> Last Week</a>
			|
			<a href='/random' class='action'> Random</a>
			|
		<!-- 	<a href='/best-match' class='action' role="button"> Best Match</a>
			|  -->
			<a href='/logout' class='action' role="button"> Log Out</a>

		</div>

	</div>

	<div class='col-xs-offset-1 col-xs-10 friends-container'> 
		<% if (users.length < 1)  { %> 
			<h3 style='text-align:center;'> No Matches Yet</h3>

			<div class='col-lg-12 message'>
				<h4>
					You don't have any matches. <br> <br> Invite more friends to join! 
				</h4>
				
				<h3>
					<a href='https://twitter.com/intent/tweet?text=Hi friends, check out www.discover-weekly.com so we can compare our gnarly Spotify Discover Weekly playlists.'>Tweet</a> | <a class='facebook-share'>Share</a> | <a class='facebook-message'>Message</a>
				</h3>
			</div>
		<% } else { %> 
			<h3 class='friends-heading col-xs-3'>
				Top Matches:
			</h3>
			<div class = 'col-xs-12'></div>
			<%
			for (var i = 0; i < users.length; i++) {
				var id = users[i].facebook_id; 
				var name = users[i].name.split(' ');
				var first_name = (name[1]) ? name[0] : "user"
				var last_name = (name[1]) ? name[1] : name[0];
			%> 
			<% if (i%6==0) {  %> 
					<div class='row'> 
			<%  } %> 

			<a href='/user/<%- id %>'>
				<div class = "col-sm-2 col-xs-4 profile-container">
					<div class="friend-user-name"><%- first_name %><br><%- last_name %></div>
					<img class="friend-profile img-responsive" src="/img/hollow_circle.png" style='background-image:url(https://graph.facebook.com/<%- id %>/picture?type=large);'>
					<div class='percentage'>
						<%- (users[i].total/60*100).toFixed(2); %>% 
					</div>
				</div>
			</a>

			<% if (i%6==5) { %> 
				</div>
			<%  } %> 

		<% } } %>
	</div>

	<div class="row bottom"> </div>

</body>
</html>