<html>
<title> Last Week </title>
<% include ./navbar.ejs %>

<% username = username.split(' ')[0]; %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 25px;
	}

	h3 { 
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	} 

	.playlist {
		margin-top: 50px;
	}
</style>

<body>
	<div class='col-xs-10 col-xs-offset-1'>
		<h2> 
			<%- username %> Playlist from Last Week
		</h2> 

		<% if (!playlist) { %>
			<h3>
				Last week's playlist will show up after 1 week on the app
			</h3>
		<% } else {  %>					
				<div class="playlist table-responsive">          
					  <table class="table table-hover">
					    <thead>
					      <tr>
					        <th></th>
					        <th>Track</th>
					        <th>Artist</th>
					      </tr>
					    </thead>
					    <tbody>
					    	<% 
					    		var index = 1;
					    		for (var id in playlist.tracks) { %>
					    	  <tr>
						        <td> <%- index++; %> </td>
						        <td> <a target="_blank" href="https://open.spotify.com/track/<%- id %>"> <%- playlist.tracks[id].name %> </a> </td>
						        <td> <%- playlist.tracks[id].artist %> </td>
						      </tr>
							<% } %> 
					    </tbody>
					  </table>
				</div>

		<% } %>
	</div>

</body>

</html>


