<html>

<title> <%- otherDisplayName; %> </title>

<% include ./navbar.ejs %>
<% if (!users) {
	users = [];
} else {
	users.sort(function(a, b) {
	    return (a.name).localeCompare(b.name);
	});
} %>
<head>
	<script type="text/javascript" src= "/js/spotify.js"></script>
</head>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 75px;
	}

	.profile-pic {
		width: 200px; 
		height: 200px;
		background-position: center; 
		background-size:100% auto;
		background-repeat: no-repeat;
		background-color: black;
	}

	.profile-container { 
		text-align: center;
		margin-top: 15px;
	}
	.friend-profile {
		background-position: center; 
		background-size:100% auto;
		background-repeat: no-repeat;
		background-color: black;
	}
	.friend-user-name {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px; 
	}
	.friends-container {
		margin-top: 50px;
	}
	.friends-heading{ 
		text-align: left;
		padding-bottom: 10px;
	}
	.playlist-container {
		text-align: center;
		margin-bottom: 25px;
		margin-top: 25px;
	}

</style>

<body>

	<div class='col-sm-5 col-xs-12 profile-container'>
		<img src="/img/hollow_circle.png" class="profile-pic" style='background-image:url(http://graph.facebook.com/<%- otherFacebookId %>/picture?type=large)'>

		<h3 class="user-name">
			<%- otherDisplayName %>
		</h3>

		<div class="action-btns">
			<a href='/compare/<%- otherFacebookId %>' class='action' role="button"> Compare</a>
		</div>

		<div class="playlist-container">
			<iframe src="https://embed.spotify.com/?uri=spotify:user:spotifydiscover:playlist:<%- otherDwId %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>
	<div class = 'col-sm-7 col-xs-10 col-xs-offset-1 col-sm-offset-0'>

		<h3 class='friends-heading'> Mutual Friends: </h3>
			<div class = 'col-xs-12'></div>

			<% if (users.length < 1)  { %> 
				<div style="margin-bottom:25px;"> None </div>
			<% } else {

				for (var i = 0; i < users.length; i++) {
					var id = (users[i].id) ? users[i].id : users[i].facebook_id; 
				%> 
				<% if (i%6==0) {  %> 
						<div class='row'> 
				<%  } %> 

				<a href='/user/<%- id %>'>
					<div class = "col-sm-2 col-xs-3 profile-container">
						<img class="friend-profile img-responsive" src="/img/hollow_circle.png" style='background-image:url(http://graph.facebook.com/<%- id %>/picture?type=large);'>
						<div class="friend-user-name"><%- users[i].name%></div>
					</div>
				</a>

				<% if (i%6==5) { %> 
					</div>
				<%  } %> 

		<% }} %>

	</div>

</body>



